/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');

:root {
    --font: 'Arial', sans-serif;
}

body {
    background-color: rgb(243, 242, 242);
    background-image: radial-gradient(#8eb5df,#004ea2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}


#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    box-shadow: 0 1.5px 10px #001d50;
}

#title {
    text-shadow: 0 1.5px 10px #001d50;
    color: #ffffff;
    font-size: rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    
}

#userName {
    text-shadow: 0 1.5px 10px #001d50;
    color: #ffffff;
    font-size: rem;
    font-weight: 600;
    line-height: 2.25;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;

}

.link {
    color: rgb(8, 118, 221);
    display: block;
    background-color: rgba(255, 255, 255, 0.99);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(8, 118, 221);
    border: solid rgb(8, 118, 221) 2px;
    border-bottom: 5px solid rgb(8, 118, 221);
}

.footer {
    text-align: center;
    font-size: 1.3rem;
}

.footer a {
    text-decoration:none;
    box-shadow: 0 4px 10px #000;
}

.circulo {
    background: rgb(221, 221, 221);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: rgb(32, 32, 32);
}

.circulo:hover {
    background: rgb(8, 118, 221);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

@media only screen and (max-height: 675px) {
    #userName{
        color: #fff;
        text-shadow: 0 1.5px 2px #000;
    }
}



.some-link {
    color: rgb(8, 118, 221);
    display: block;
    background-color: rgba(255, 255, 255, 0.99);
    font-family: var(--font);
    text-align: center;
    margin: 0.4rem;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.some-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(8, 118, 221);
    border: solid rgb(8, 118, 221) 2px;
    border-bottom: 5px solid rgb(8, 118, 221);
}

.some-icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.some-icons-container {
    justify-content: center;
}
